body {
  box-sizing: border-box;
  font-family: "Sono", sans-serif;
  position: static;
}

header {
  margin: 0 auto 0 auto;
  max-width: 80%;
  font-weight: bold;
  border-bottom: 0.001vh solid gray;
}

h1 {
  font-size: 5vh;
  margin-bottom: 0.5vh;
}
.wrapper {
  margin: 0 auto 0 auto;
  max-width: 80%;
  height: fit-content;
}

.bayan {
  height: fit-content;
}

.bayan-item-input {
  appearance: none;
  width: 0;
  height: 0;
}

.bayan-item-head {
  display: flex;
  margin-bottom: 1vh;
  font-size: 1em;
}

.item-content {
  margin: 0 auto 0 auto;
  width: 0;
  height: 0;
  opacity: 0;
  transition: 0.5s;
}

.first-mem {
  background-image: url("../assets/img/slowpokes.jpg");
}

.second-mem {
  background-image: url("../assets/img/philosophers.jpg");
}

.third-mem {
  background-image: url("../assets/img/creative_people.jpg");
}

.fourth-mem {
  background-image: url("../assets/img/passive_aggressive.jpg");
}

.bayan-button {
  margin: auto 3vw auto auto;
  display: flex;
  height: 1em;
  width: 1em;
  background-size: 1em 1em;
  background-image: url("../assets/svg/cross.svg");
  rotate: 45deg;
  opacity: 0;
  transition: 0.5s;
}

.bayan-item-text {
  max-width: 90%;
}

.bayan-item-input:checked ~ .item-content {
  opacity: 1;
  width: 95%;
  height: 50vh;
  background-size: 100% 50vh;
}

@media screen {
  .bayan {
    cursor: pointer;
  }

  .bayan:hover .bayan-button {
    opacity: 1;
  }

  .bayan:hover .bayan-button {
    opacity: 1;
  }

  .bayan-item:hover .bayan-button {
    rotate: 0deg;
    opacity: 1;
  }

  .bayan-item-head:hover {
    cursor: pointer;
  }

  .bayan-item:hover .item-content {
    opacity: 1;
    opacity: 1;
    width: 95%;
    height: 50vh;
    background-size: 100% 50vh;
  }
}
