body {
  box-sizing: border-box;
  font-family: "Sono", sans-serif;
  position: static;
}

header {
  margin: 0 auto 0 auto;
  max-width: 80%;
  font-weight: bold;
  border-bottom: 0.001vh solid gray;
}

h1 {
  font-size: 5vh;
  margin-bottom: 0.5vh;
}
.wrapper {
  margin: 0 auto 0 auto;
  max-width: 80%;
  height: fit-content;
}

.bayan {
  height: fit-content;
}

.bayan-item-input {
  appearance: none;
  width: 0;
  height: 0;
}

.trigger {
  display: flex;
  margin-bottom: 1vh;
  font-size: 1em;
}

.item-content {
  margin: 0 auto 0 auto;
  width: 0;
  height: 0;
  opacity: 0;
  transition: 0.5s;
}

.first-mem {
  background-image: url("../assets/img/slowpokes.jpg");
}

.second-mem {
  background-image: url("../assets/img/philosophers.jpg");
}

.third-mem {
  background-image: url("../assets/img/creative_people.jpg");
}

.fourth-mem {
  background-image: url("../assets/img/passive_aggressive.jpg");
}

.bayan-button {
  margin: auto 3vw auto auto;
  display: flex;
  height: 1em;
  width: 1em;
  background-size: 1em 1em;
  background-image: url("../assets/svg/cross.svg");
  rotate: 45deg;
  transition: 0.5s;
}

.bayan-item-text {
  max-width: 90%;
  color: blue;
  font-weight: bolder;
}

.bayan-item-input:checked ~ .bayan-item-head .item-content {
  opacity: 1;
  width: 95%;
  height: 50vh;
  background-size: 100% 50vh;
}

.bayan-item-input:checked ~ .bayan-item-head .trigger .bayan-button {
  rotate: 90deg;
}

.bayan-item-input:checked ~ .bayan-item-head .trigger .bayan-item-text {
  color: black;
}

@media screen {
  .bayan {
    cursor: pointer;
  }

  .bayan-button {
    opacity: 0;
  }

  .bayan:hover .bayan-button {
    opacity: 1;
  }

  .bayan:hover .bayan-item-text {
    color: black;
  }

  .bayan-item:hover .bayan-button {
    rotate: 0deg;
    opacity: 1;
  }

  .bayan-item:active .bayan-item-text {
    color: blue;
  }

  .bayan-item-head:hover {
    cursor: pointer;
  }

  .bayan-item:hover .item-content {
    opacity: 1;
    opacity: 1;
    width: 95%;
    height: 50vh;
    background-size: 100% 50vh;
  }
}

@media (min-width: 820px) and (min-height: 1180px) {
  h1 {
    font-size: 7vh;
  }

  .bayan-item-text {
    font-size: 3.5vh;
  }

  .bayan-button {
    height: 3em;
    width: 3em;
    background-size: 3em 3em;
  }
}

@media (min-width: 1920px) and (min-height: 1080px) {
  h1 {
    font-size: 9vh;
  }

  .bayan-item-text {
    font-size: 4vh;
  }

  .bayan-button {
    height: 3em;
    width: 3em;
    background-size: 3em 3em;
  }

  .bayan-item-input:checked ~ .bayan-item-head .item-content {
    opacity: 1;
    width: 60%;
    height: 65vh;
    background-size: 100% 65vh;
  }

  .bayan-item:hover .item-content {
    opacity: 1;
    opacity: 1;
    width: 60%;
    height: 75vh;
    background-size: 100% 75vh;
  }
}
